*{
  margin: 0;
  padding: 0;
}
body{
    background-color: #f3f3f3 !important;
}
nav{
    background-color: #fff !important;
}
.white_bg{
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  margin-top: 50px;
}
.form-control{
  margin-bottom: 20px;
}
.reg_btn{
  background-color: #00c9c9 !important;
  color: #fff !important;
  min-width: 140px;
}
.theme_btn{
  background-color: #00c9c9 !important;
  color: #fff !important;
}
.complete_btn{
  background-color: #083fcc !important;
  color: #fff !important;
  width: 140px;
  margin: 5px;
}
.edit_btn{
  background-color: #a6990b !important;
  color: #fff !important;
  margin: 5px;
}
.delete_btn{
  background-color: #d30606 !important;
  color: #fff !important;
  margin: 5px;
}
h1{
  color: #00c9c9;
  font-weight: 400 !important;
  margin-bottom: 20px !important;
  font-size: 28px !important;
}
.navbar-nav li a{
  text-decoration: none;
  color: #5e7171 !important;
}
.navbar-nav li .active-link{
  color: #00c9c9 !important;
}
.table thead th {
    background: #00c9c9;
    color: #fff;
}
.modal-header{
  background-color: #00c9c9;
}
.modal-header h5{
  color: #fff;
}
.modal-header .close{
  color: #fff;
  opacity: 1;
}
.modal-header .close:hover{
  color: #dfdfdf;
}
.modal_hd{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px !important;
}
.modal_label{
  font-weight: 600;
  color: #00c9c9;
}
.modal-body p{
  margin-bottom: 5px;
}